header{
	position: relative;

	& > #brand,
	& > .nav{
		@media only screen and (max-width: 1139px){
			width: 100%;
			float: none;
		}
	}
}

#brand {
	margin: 0;
	padding: 0;

	a {
		display: inline-block;
	}

	.brand--title{
		display: none;

		@media only screen and (max-width: 1139px){
			display: initial;
		}
	}

	.brand--image{
		@include borderbox;
		max-width: 100%;
		max-height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		padding: 1px;
		border-right: 0.5em solid $bgc;

		@media only screen and (max-width: 1139px){
			display: none;
		}
	}
}

#navigation{
	@media only screen and (max-width: 1139px){
		margin-top: $medium;
	}
}

.nav{
	list-style: none;
	list-style-image: none;
	list-style-position: outside;
	margin: 0;
	padding: 0;

	li{
		display: inline-block;
		position: relative;
		margin-left: $small;

		@media only screen and (max-width: 1139px){
			display: block;
			margin-left: 0;
		}
	}

	a{
		&,
		&:visited{
			display: inline-block;
			padding: ($small * 1.5) $medium;
			color: $font-color-inv;
			text-shadow: 1px 1px 0 lighten($font-color, 35%);
			background-color: $main-color;
			border: 1px solid darken($main-color, 7.5%);

			@media only screen and (max-width: 1139px){
				@include borderbox;
				width: 100%;
				border: none;
			}

			i{
				display: inline-block;
				margin-right: $medium;
				text-decoration: none;
			}
		}
	}

	.sub-nav{
		display: none;
		position: absolute;
		list-style: none;
		list-style-image: none;
		list-style-position: outside;
		min-width: 10vw;
		margin: 0;
		padding: 0;
		border-top: 2px solid transparent;

		@media only screen and (max-width: 1139px){
			display: block;
			position: relative;
			min-width: auto;
			border-top: none;
		}

		li{
			display: block;
		}

		a{
			&,
			&:visited{
				display: block;
				padding: $xsmall $small;
				border-top: none;

				@media only screen and (max-width: 1139px){
					padding: $medium $medium $medium $xlarge;
					border: none;
				}
			}
		}
	}

	& li:hover{
		.sub-nav{
			display: block;
		}
	}
}
