#brand {
	margin: 0;
	padding: $small 0;

	a {
		display: inline-block;
	}
}

.nav{
	list-style: none;
	list-style-image: none;
	list-style-position: outside;
	margin: 0;
	padding: 0;

	li{
		display: inline-block;
		position: relative;

		a{
			&,
			&:visited{
				display: inline-block;
				padding: $medium;
				color: $font-color-inv;
				text-shadow: 1px 1px 0 lighten($font-color, 35%);
				background-color: $main-color;
			}
		}
	}

	.sub-nav{
		display: none;
		position: absolute;
		left: $medium;
		list-style: none;
		list-style-image: none;
		list-style-position: outside;
		margin: 0;
		padding: 0;

		li{
			display: block;

			a{
				&,
				&:visited{
					display: block;
					min-width: 7.5vw;
					padding: $medium;
					border-top: none;
					border-top: 1px solid darken($main-color, 3%);
				}
			}
		}
	}

	& li:hover{
		.sub-nav{
			display: block;
		}
	}
}
