.post{
	@include borderbox;
	margin-top: $medium;
	margin-bottom: 0;
	padding-bottom: $medium;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);

	&:last-child{
		margin-bottom: 0;
		padding-bottom: 0;
	}

	&.single{
		margin-bottom: 0;

		.post--meta{
			ul{
				@include borderbox;
				background-color: $bgc2;
				border: 1px solid darken($bgc2, 5%);
			}
		}
	}
}

.post--title{
	h1{
		@include borderbox;
		margin:  0 0 $medium 0;
		line-height: $xlarge;
	}

	a{
		display: inline-block;

		&:focus,
		&:hover{
			text-decoration: underline;
		}
	}
}

.post--aside{
	img{
		@include borderbox;
		width: 100%;
		height: auto;
		border: 1px solid darken($bgc2, 5%);
	}

	@media only screen and (max-width: 1139px){
		display: none;
	}
}


.post--actions{
	@include clearfix;
	list-style: none;
	list-style-image: none;
	list-style-position: outside;
	margin: 0;
	padding: 0;

	li{
		float: left;

		@media only screen and (max-width: 1139px){
			float: none;
		}
	}

	a{
		&,
		&:visited{
			display: block;
			margin-right: $small;
			padding: $lmedium;
			font-size: $lmedium;
			color: $font-color-inv;
			background-color: $bgc;
			border: 1px solid darken($bgc, 7.5%);
			border-radius: 2px;

			@media only screen and (max-width: 1139px){
				margin: $medium 0 0 0;
				padding: $medium;
			}
		}
	}
}

.post--details{
	line-height: $medium*1.5;

	& > *:first-child{
		margin-top: 0;
	}

	p{
		margin-top: 0;
		text-align: justify;
		word-wrap: break-word;
		text-indent: $medium;
	}

	a{
		&,
		&:visited{
			text-decoration: underline;
		}

		&:focus,
		&:hover{
			color: $bgc;
		}
	}

	@media only screen and (max-width: 1139px){
		width: 100%;
	}
}


.post--meta{
	ul {
		list-style: none;
		list-style-image: none;
		list-style-position: outside;

		margin: 0 0 $medium 0;
		padding: $small;
	}

		li{
			line-height: 1.5rem;
		}
}
