.post{
	margin-bottom: $medium;
	padding-bottom: $medium;
	border-bottom: 1px solid $bgc;

	&:last-child{
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: none;
	}

	&.single{
		margin-bottom: 0;
		border-bottom: none;
	}
}

.post--title{
	h2{
		margin-top: 0;
		margin-bottom: $medium;

		a{
			display: inline-block;

			&:focus,
			&:hover{
				text-decoration: underline;
			}
		}
	}
}

.post--thumbnail{
	@media only screen and (max-width: 1139px){
		display: none;
	}
}


.post--actions{
	@include clearfix;
	list-style: none;
	list-style-image: none;
	list-style-position: outside;
	margin: 0;
	padding: 0;

	li{
		float: left;

		a{
			&,
			&:visited{
				display: block;
				color: $font-color-inv;
				padding: $medium;
				background-color: darken($main-color, 1.5%);
				border-left: 1px solid  $fgc;
			}
		}
	}
}

.post--details{
	p{
		margin-top: 0;
		text-align: justify;
		word-wrap: break-word;
		text-indent: 1em;
	}
}
