/********************************************************************************************

AKLP.gr v0.0.1 by Adonis K. (varemenos.com)
Based on Simple v1.0.2 by Jason Schuller (Jason.sc)

*********************************************************************************************/

$font-color: #333;
$font-color-inv: #fff;
$bgc: #7f8c8d;
$bgc2: #eee;
$fgc: #fff;
$medium: 1rem;
$lmedium: $medium * 0.75;
$small: $medium * 0.5;
$xsmall: $medium * 0.25;
$large: $medium * 2;
$xlarge: $medium * 3;
$xxlarge: $medium * 4;

@import 'lib/generic/_base';
@import 'lib/generic/_borderbox';
@import 'lib/generic/_box-shadow';
@import 'lib/modules/_grid';
@import 'lib/modules/_blockquote';
@include grid(12, $large);

@import '_fonts';

body{
	overflow-x: auto;
	overflow-y: scroll;
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: $medium;
	font-family: 'FiraSans-Regular', 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
	color: lighten($font-color, 15%);
	background-color: $bgc;

	@media only screen and (max-width: 1139px){
		padding-bottom: 0;
	}
}

a{
	&,
	&:visited{
		text-decoration: none;
		color: $font-color;
	}

	&:focus,
	&:hover{
		text-decoration: underline;
	}
}

h1,
h2,
h3,
h4,
h5,
h6{
	font-family: 'FiraSans-Bold', 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
}

h1{
	font-size: 2.5rem;
}

h2{
	font-size: 2rem;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

h3{
	font-size: 1.56rem;
}

#content,
#header,
#footer{
	@include borderbox;
	margin-top: $medium;
	background-color: $fgc;

	@media only screen and (max-width: 1139px){
		margin-top: 0;
	}
}

#content{
	padding: $medium $large $large $large;

	@media only screen and (max-width: 1139px){
		width: 100%;
	}
}

@import '_header';
@import '_posts';
@import '_footer';

hr{
	border-top: 2px dashed rgba(black, 0.2);
	border-bottom: 2px dashed rgba(black, 0.2);
	border-left: none;
	border-right: none;
}

blockquote{
	margin: $medium 0;
	border-left: $small solid darken($bgc2, 10%);

	& > * {
		margin: $small 0;
		padding: $medium;
		background-color: $bgc2;
	}
}

code{
	word-wrap: break-word;
	background-color: rgba(black, 0.05);
}

code[class*="language-"],
pre[class*="language-"]{
	background-color: transparent;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"]{
	@include borderbox;
	border: 1px solid darken($bgc2, 5%);
}

#dp-dropplets-icon{
	font-size: $medium !important;

	@media only screen and (max-width: 1139px){
		display: inline-block !important;
		background-color: $bgc !important;
		text-shadow: 0 0 10px transparent !important;
		height: $large * 1.5 !important;
		width: $large * 1.5 !important;
		line-height: $large * 1.5 !important;
		top: $medium !important;
		left: auto !important;
		right: $medium !important;
		position: absolute !important;

		&:focus,
		&:hover{
			@include box-shadow(inset 0 0 20px darken($bgc, 20%) !important);
		}
	}
}

@import '_prism';
