/********************************************************************************************

AKLP.gr v0.0.1 by Adonis K. (varemenos.com)
Based on Simple v1.0.2 by Jason Schuller (Jason.sc)

*********************************************************************************************/

$font-color: #444;
$font-color-inv: #fff;
$main-color: #3498db;
$bgc: #7f8c8d;
$bgc2: #ddd;
$fgc: #fff;
$medium: 1rem;
$small: $medium/2;
$large: 2*$medium;
$xlarge: 4*$medium;

@import 'lib/generic/_base';
@import 'lib/generic/_borderbox';
@import 'lib/modules/_grid';
@import 'lib/modules/_blockquote';
@include grid(12, $medium);

@import '_fonts';

body{
	font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
	color: lighten($font-color, 15%);
	background-color: $bgc;
	overflow-x: auto;
	overflow-y: scroll;
	@include borderbox;
	max-width: 1140px;
	margin: 0 auto;
	padding-bottom: $medium;
}

a{
	&,
	&:visited{
		text-decoration: none;
		color: $font-color;
	}

	&:focus,
	&:hover{
		text-decoration: underline;
	}
}

#content,
header,
footer{
	margin-top: $medium;
	padding: $medium;
	background-color: $fgc;
}

#content{
	@media only screen and (max-width: 1139px){
		width: 100%;
	}
}

@import '_header';
@import '_posts';
@import '_footer';

hr{
	border-top: 2px dashed rgba(black, 0.2);
	border-bottom: 2px dashed rgba(black, 0.2);
	border-left: none;
	border-right: none;
}

blockquote{
	@include blockquote($main-color);
}

code{
	background-color: rgba(black, 0.05);
}
